/*导航栏*/
.sm-h {
	height: 104px;
}

#shortcut li{
	float: left;
	height: 30px;
	padding: 0 2px;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.dropdown {
	position: relative;
}

.dropdown-app {
	position: relative;
}

.index-icon {
	position: absolute;
	left: 0;
	width: 21px;
	height: 30px;
	background: url(../img/index.png) no-repeat;
}

.dropdown .dt {
	padding: 0 25px 0 10px;
	position: relative;
	z-index: 4;
	border-left: 1px solid #e3e4e5;
	border-right: 1px solid #e3e4e5;
}

.dropdown .ci-right {
	width: 12px;
	height: 7px;
	position: absolute;
	top: 12px;
	right: 6px;
	background-image: url(../img/quan-icons.png);
	background-repeat: no-repeat;
	background-position: -100px 0;
}

.dropdown .ci-left {
	width: 15px;
	height: 20px;
	position: absolute;
	top: 5px;
	left: 9px;
	background: url(../img/jd2015img.png) 0 0 no-repeat;
}

.jdindex {
	position: relative;
}

#shortcut .jdindex {
	padding-left: 22px;
}

.jdindex .dt {
	position: relative;
}

.cw-list {
	position: absolute;
	width: 300px;
	height: 196px;
	background: #fff;
	border: 1px solid #ddd;
	padding: 10px 0 10px 10px;
	z-index: 5;
	display: none;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}

#shortcut .cw-list {
	top: 30px;
	/*left: 2px;*/
}

.fore8 .cw-list {
	right: -2px;
	width: 190px;
	height: 306px;
	padding: 0;
	border-bottom: 3px solid #60575a;
}

.fore7 .cw-list {
	left: -1px;
}

.cw-spacer {
	position: absolute;
	top: -7px;
	height: 10px;
	background: #fff;
	width: 82px;
}

#shortcut .fore3 .cw-spacer {
	left: 0;
}

#shortcut .fore8 .cw-spacer {
	width: 0;
	height: 0;
	border-bottom: 5px solid #fff;
	border-left: 5px solid #e3e4e5;
	border-right: 5px solid #e3e4e5;
	right: 27px;
	top: -5px;
}

#shortcut .fore6 .cw-spacer {
	right: 0;
}

#shortcut .fore7 .cw-spacer {
	right: 83px;
}

#shortcut .fore3 .cw-list {
	width: 280px;
	height: 131px;
	padding: 5px 0;
}

#shortcut .fore3 .cw-item {
	height: 24px;
	line-height: 24px;
	width: 105px;
	margin: 0 5px;
	padding: 0 0 0 10px;
}

#shortcut .fore8 .cw-code {
	position: relative;
	width: 190px;
	height: 70px;
	padding: 15px 0;
	border-bottom: 1px solid #e7e7e7;
}

#shortcut .fore8 .code2 {
	height: 73px;
}

#shortcut .fore8 .cw-code .code-border {
	width: 74px;
	height: 74px;
	position: absolute;
	top: 14px;
	left: 5px;
	border: 1px solid #ccc;
}

#shortcut .fore8 .cw-code img {
	width: 70px;
	height: 70px;
	margin-left: 2px;
	margin-top: 2px;
}

.cw-code a {
	display: block;
	position: absolute;
	width: 56px;
	height: 44px;
	/*text-indent: -500px;*/
}

.cw-code .link {
	width: 100px;
	height: 20px;
}

.cw-code .link1 {
	left: 86px;
	top: 6px;
	font-weight: 700;
	color: #666;
}

.cw-code .link2 {
	left: 86px;
	top: 23px;
	width: 88px;
	color: #c21a21;
	text-indent: 0;
	cursor: default;
}

.code2 .link2 {
	top: 31px;
	line-height: 14px;
}

.cw-code .jdapp-ios {
	width: 25px;
	height: 25px;
	background: url(../img/sprite_mobile@1x.png) no-repeat;
	top: 50px;
	left: 86px;
}

.cw-code .jdapp-android {
	width: 25px;
	height: 25px;
	background: url(../img/sprite_mobile@1x.png) no-repeat;
	top: 50px;
	left: 115px;
	background-position: 0 -26px;
}

.cw-code .jdapp-ipad {
	width: 25px;
	height: 25px;
	background: url(../img/sprite_mobile@1x.png) no-repeat;
	top: 50px;
	left: 140px;
	background-position: 0 -52px;
}

.cw-code .wyapp-ios {
	top: 143px;
	left: 92px;
}

.cw-code .wyapp-android {
	top: 143px;
	left: 147px;
}

#shortcut .fore7 .cw-list {
	width: 82px;
	height: 97px;
	padding: 0 0 8px 0;
	box-shadow: none;
}

#shortcut .fore7 .cw-code {
	background: url(../img/57bfe32fNbf75b97c.jpg);
	width: 82px;
	height: 97px;
}

#shortcut .fore6 .cw-list {
	right: 2px;
	width: 170px;
	height: 227px;
	padding: 5px 0;
}

#shortcut .fore6 .cw-item {
	width: 70px;
	height: 24px;
	line-height: 24px;
	padding: 0;
	margin: 0;
}

#shortcut .fore7 .cw-list {
	left: -1043px;
	right: -70px;
	width: 1210px;
	height: 149px;
	padding: 15px 0;
}

.cw-col4 {
	float: left;
	width: 360px;
	height: 100%;
	background: #fff;
}

.cw-col3 {
	float: left;
	width: 275px;
	height: 100%;
	background: #fff;
}

#shortcut .fore7 .cw-item {
	width: 85px;
	height: 24px;
	line-height: 24px;
	padding: 0;
	margin: 0;
}

#shortcut .cw-bk {
	padding-left: 20px;
}

#shortcut .cw-tit {
	width: 100%;
	font-weight: 700;
	color: #666;
	height: 24px;
	line-height: 24px;
}

#shortcut .fore7 .cw-tit {
	font-size: 14px;
	margin-bottom: 5px;
}

#shortcut .cw-w {
	width: 100%;
	height: 1px;
	background: #f1f1f1;
	margin: 5px 0;
}

#shortcut .cw-h {
	float: left;
	width: 1px;
	height: 100%;
	background: #f1f1f1;
}

#shortcut .cw-wd {
	width: 100%;
	height: 1px;
	border-bottom: 1px dotted #eee;
	margin: 4px 0 5px 0;
}

.cw-lk {
	display: block;
	float: left;
	padding: 0 8px;
	line-height: 24px;
	text-align: center;
}

#shortcut .spacer {
	width: 1px;
	height: 12px;
	margin-top: 9px;
	padding: 0;
	background: #ccc;
}

#ttbar-login {
	margin-right: 10px;
}

.link-login {
	font-family: "vardana,simsun";
}

.style-red {
	color: #c81623;
}

.fr .dt {
	float: left;
	padding: 0 8px;
}

#ttbar-myjd .dt, #ttbar-atte .dt, #ttbar-serv .dt, #ttbar-navs .dt {
	width: 49px;
	height: 30px;
	padding-right: 25px;
}

/*拍卖头部*/
/*logo*/
#sm-logo {
	float: left;
	margin: 26px 0 22px;
	width: 350px;
	height: 56px;
}

.logo {
	float: left;
	width: 213px;
	height: 54px;
	background: url(../img/jdlogo-201708-@1x.png) 0 0 no-repeat;
}

#sm-logo .sm-position {
	float: left;
}

#sm-logo .sm-position .tacitly-position {
	position: relative;
	width: 66px;
	height: 35px;
	border-bottom: 2px solid #c91523;
	margin-left: 44px;
	font-size: 14px;
	text-align: center;
	line-height: 45px;
	color: #c91523;
}

.po-icon {
	position: absolute;
	top: 11px;
	left: -23px;
	width: 17px;
	height: 26px;
	z-index: 1;
	background: url(../img/jdlogo-201708-@1x.png) no-repeat 0 -56px;
}

.tacitly-position .cw-right {
	position: absolute;
	bottom: 8px;
	right: 0;
	width: 11px;
	height: 7px;
	background: url(../img/jdlogo-201708-@1x.png) no-repeat -19px -56px;
}

#sm-logo .cw-list {
	top: 37px;
	left: 20px;
}

#sm-logo .cw-item {
	float: left;
	width: 60px;
	padding: 2px 0;
}

#sm-logo .cw-first {
	background: #f10215;
	color: #fff;
}

/*search*/
#sm-search {
	float: right;
	margin-top: 27px;
	width: 455px;
}

.form {
	height: 40px;
}

.text {
	float: left;
	width: 365px;
	height: 24px;
	line-height: 24px;
	color: #666;
	padding: 4px;
	margin-bottom: 4px;
	border-width: 2px 0 2px 2px;
	border-color: #ffa133;
	border-style: solid;
	font-size: 14px;
}

.button {
	float: left;
	width: 80px;
	height: 36px;
	border: none;
	line-height: 1;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	background: #ffa133;
}

.hot a {
	margin-right: 5px;
}

/*shopping*/
#sm-shopping {
	position: relative;
	margin-left: 30px;
	margin-top: 27px;
	float: right;
	width: 138px;
	height: 34px;
	border: 1px solid #dfdfdf;
	background: #f9f9f9;
}

#sm-shopping .my-shopping {
	line-height: 34px;
	padding-left: 20px;
}

#sm-shopping .my-shopping a {
	font-size: 12px;
	color: #f30213;
}

#sm-shopping .cw-icon .ci-left {
	position: absolute;
	top: 9px;
	left: 90px;
	width: 16px;
	height: 16px;
	background: url(../img/settleup-@1x.png) no-repeat;
}

#sm-shopping .cw-icon .ci-right {
	position: absolute;
	top: 7px;
	left: 105px;
	width: 14px;
	height: 14px;
	line-height: 14px;
	background: #da1026;
	color: #fff;
	font-family: tahoma, arial;
	text-align: center;
	border-radius: 7px;
	padding: 1px;
	letter-spacing: -1px;
	font-style: normal;
}

#sm-shopping .dropdown-layer {
	display: none;
	right: -1px;
	width: 308px;
}

#sm-shopping .dropdown-layer .cw-spacer {
	right: 0;
	width: 138px;
}

.dropdown-layer {
	position: absolute;
	border: 1px solid #ddd;
	background: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

#sm-shopping .cart_pop {
	margin-left: 23px;
}

#sm-shopping .cart_empty {
	height: 49px;
	padding: 10px 0;
	text-align: center;
	line-height: 49px;
	color: #999;
}

#sm-shopping .dropdown-layer .cart_empty_img {
	display: inline-block;
	vertical-align: middle;
	width: 56px;
	height: 49px;
	background: url(../img/58004d6dN2927f0f7.png) no-repeat;
}

#sm-code {
	position: relative;
	margin-top: 27px;
	float: right;
	margin-left: 30px;
}

#sm-code .my-code {
	line-height: 34px;
	width: 118px;
	height: 34px;
	border: 1px solid #dfdfdf;
	background: #f9f9f9;
}

#sm-code .ci-left {
	float: left;
	width: 25px;
	height: 25px;
	margin: 4px 4px 5px 8px;
	background: url(../img/qr_icon.png) no-repeat;
}

#sm-code .qrcode {
	width: 100px;
	height: 100px;
	border: 1px solid #dfdfdf;
	padding: 9px;
	position: absolute;
	top: 34px;
	left: -1px;
	background: #fff;
	z-index: 5;
	opacity: 0;
}

/*nav*/
#sm-nav {
	/*font-size: 0;*/
}

.smmu-tit {
	float: left;
	width: 175px;
	padding-left: 15px;
	height: 33px;
	line-height: 33px;
	font-size: 14px;
	color: #fff;
	background: #ffa133;
}

.smmu-cls {
	float: left;
	font-size: 0;
}

.smmu-cls span {
	float: left;
	width: 1px;
	height: 12px;
	background: #d3d3d3;
	margin-top: 18px;
}

.smmu-cls li {
	position: relative;
	float: left;
	margin-left: -1px;
	font-size: 0;
}

.smmu-cls li .spacer {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -6px;
	width: 1px;
	height: 12px;
	background: #ccc;
}

.nav-item {
	display: block;
	line-height: 33px;
	font-size: 14px;
	text-align: center;
	color: #333;
	padding: 0 24px;
}

.smmu-cls .first {
	color: #ffa133;
}

.smmu-support {
	float: right;
	overflow: hidden;
}

.smmu-support li {
	color: #3c3c3c;
	font-size: 14px;
	margin-left: 26px;
	float: left;
	line-height: 33px;
}

.smmu-support li span {
	display: inline-block;
	vertical-align: middle;
}

.smmu-support li i {
	margin-right: 5px;
	width: 22px;
	height: 21px;
	vertical-align: middle;
	display: inline-block;
	font-style: normal;
	font-size: 0;
}

.smmu-support li .fore1 {
	background: url(../img/591aa606Nfe17fd41.png);
}

.smmu-support li .fore2 {
	background: url(../img/591aa62aN516cd9c6.png);
}